*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}

html{
	scroll-behavior: smooth;
}

/* image hover styling ---*/
.container {
  position: relative;
  width: 100%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color:;
  color: white;
  font-size: 16px;
  padding: 8px 16px;
}

/* ----THE HEADER STYLING----*/
.nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 1.5rem;
	position sticky;
	top: 0;
	left: 0;
	z-index: 1;

}

.title{
	font-size: 30px;
}

.title a{
	text-decoration: none;
}
.title a:hover{
	cursor: pointer;
}

/* THE MENU */
	.navbar a{
		padding: 15px;
		font-weight: bold;
		display: block;
		width: 150px;
		color: white;
		text-decoration: none;
		text-transform: uppercase;
		border-radius: 5%;

	}

	.navbar a:hover {
		color: #f08080;
		background: lightgrey;
	}

	.dropbtn{
		padding: 10px;
		font-size: 16px;
		border: none;
	}

	.dropbtn > div{
		background-color: antiquewhite;
		height: 3.6px;
		margin-bottom: 2.7px;
		width: 27px;
	}


	.navbar{
		position: relative;
		display: inline-block;
	}

	.dropdowncontents{
		right: 0;
		display:none;
		position: absolute;
		background-color: rgba(0,0,0,0.6);
		min-width: 150px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		border-radius: 5%;
		z-index: 1;
	}

	.navbar:hover .dropdowncontents{
		display: block;
	}

/* ----THE HEADER STYLING ENDS----*/

/* ----NOW THE SHOWCASE ----*/

.showcase{
	background-image: url(img/mixer2.jpeg);
	background-attachment: fixed;
	background-size: cover;
	background-position:26% 55%; 
	background-repeat:no-repeat;
	border-bottom: 2px solid orange;
	border-top: 0.7px solid orange;

	-webkit-animation: gchange 12.5s linear infinite both;
	     -o-animation: gchange 12.5s linear infinite both;
	        animation: gchange 12.5s linear infinite both;
}

.showcase_{
	background-image: url(img/mixa.jpeg);
	background-attachment: fixed;
	background-size: cover;
	background-position:26% 55%; 
	background-repeat:no-repeat;
	border-bottom: 2px solid orange;
	border-top: 0.7px solid orange;

	-webkit-animation: gchange 10.5s linear infinite both;
	     -o-animation: gchange 10.5s linear infinite both;
	        animation: gchange 10.5s linear infinite both;
}

@-webkit-keyframes gchange {
	from { background-image: url(img/mixer2.jpeg);}
	to { background-image: url(images/imgs.jpg); }
}

@keyframes gchange{
	from{background-image:url(img/mixer2.jpeg);}
	to{background-image:url(images/imgs.jpg);}
}


.tparent{
	height: 80vh;
	background-color: rgba(0,0,0,0.6);
}

.showcase h1{
	color:antiquewhite !important;
}



/* ---- THE SHOWCASE ENDS HERE ----*/

/* wholesale showcase */
.wholesale_showcase{
	height: 400px;
	position: relative;
	background-image: url(img/wholesale7.jpeg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.wholesale_showcase::after{
	content:'';
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.65);
	width: 100%;
	height: 100%;
	z-index: 1;
}
/* wholesale ends */
.grow{
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1;
}

.dflex{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 4px;
}

.dflex2{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 4px;
}

.dflex img{
	height: 100px;
}

.d-grid{
	display: grid;
	grid-template-columns: 1.25fr 1.3fr;
	grid-gap: 3px;
}

.borda-b{
	border-bottom: 1.6px orange solid;
}

.head-letter{
	text-transform: uppercase;
	font-weight: bolder;
}

.dflex img{
	height: 210px;
}

.dflex p{
	color: orange;
}


#faq p{
	color: grey;
}

#faq h3{
	color: darkgrey;
	font-weight: bold;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  padding-top: 70px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(10,0,10,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: skyblue;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 90%;
  z-index: 3;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
textarea{
	width: 96%;
	height: 30vh;
	margin:auto;
  	box-sizing: border-box;
  	border: 2px solid #ccc;
  	border-radius: 4px;
  	background-color: #f8f8f8;
  	font-size: 16px;
  	resize: none;
}
.message textarea{
	width: 100%;
	height: 12vh;
	margin:auto;
  	box-sizing: border-box;
  	border: 2px solid #ccc;
  	border-radius: 4px;
  	background-color: inherit;
  	font-size: 16px;
  	resize: none;
}

.message input{
	width: 100%;
	height: 6.6vh;
	background-color: inherit;
}

/* Style the tab */
.tab {
  overflow: hidden;

}

/* Style the buttons that are used to open the tab content */
.tab button {
	font-weight: bold;
	background-color: inherit;
	float left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 5px 6px;
	transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: orange;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #fff;
   border: 2.5px solid orange;
  border-top: none;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 4px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.tabcontent {
  animation: fadeEffect 1.9s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@media (max-width:601px){
	.image{
		height: 60px;
	}
}



@media (min-width:601px){
	.contain{
		width: 70%;
		margin: auto;
	}
}